:root {
  --primary--01: #FFFBEE;
  --primary: #ffd3a4;
  --primary-01:#ddc3b8;
  --primary-02:#c9b1a7;
  --primary-03: #b7a198;

}

@font-face {
  font-family: enmeretak;
  src: url("assets/bubble-garden-regular.ttf");
}

html {
    font-family: Barlow !important;
}

li {
  margin: 40px;
}

body {
  height: 100%;
}

.logo-text {
  font-family: enmeretak;
}
.navbar {
    background-color: var(--primary);
    transition: 150ms;
}

.navbar-white {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(0.5rem);
  box-shadow: 0 1px 4px rgba(15, 15, 16, 0.075);
}

.top-section {
  height: 100vh;
  background-color: var(--primary);
}

.bottom-section {
  background-color: var(--primary);
}


#logo {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 4px;
}